*~
*.swp

*.o

*.o

*.o

.DS_Store

build/common/common.o

build/common/monitor.o

build/common/string.o

*.o

build/interrupts/descriptor_tables.o

build/interrupts/flush_tables.o

build/interrupts/interrupt.o

build/interrupts/isr.o

build/loader.o

build/kernel.o
